*{
  @apply m-0 p-0 box-border
}

*::-webkit-scrollbar{
  width: 10px;
  background: white;
}

*::-webkit-scrollbar-thumb{
  background-color: #131415;
  border-radius: 40px;
}

body{
  overflow-x: hidden;
}

.focusText{
  background: linear-gradient(90deg, #b970ee, #62c9ed);
  color: transparent;
  background-clip: text;
}

.focusTexts{
  background: linear-gradient(135deg, #6968f7, #df4885);
  color: transparent;
  background-clip: text;
}